<!-- 서비스별 검색 부분-->
<div class="panel panel-default">
    <div class="panel-body kt-action-option">
        <div class="row _m10_b kt-search-period">
            <label class="col-md-2"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> 검색 구분 : </label>
            <div class="col-md-10 form-inline kt-action-control">
            </div>
        </div>
        <div class="row kt-search-period">
            <label class="col-md-2"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> 검색 기간 : </label>
            <div class="col-md-10 form-inline ">
                <button class="btn btn-primary kt-action-serarch-btn"><i class="fa fa-search" aria-hidden="true"></i> <strong>검 색</strong></button>

            </div>
        </div>

    </div>
</div>


<!--  서비스별 테이블과 차트 보기 버튼 -->
<div class="row _m10_b">
    <div class="col-md-12 text-right">
         <button class="btn btn-success kt-action-table-btn" data-type='success'><i class="fa fa-table" aria-hidden="true"></i> <strong>테이블</strong></button>
         <button class="btn btn-default kt-action-chart-btn" data-type='default'><i class="fa fa-line-chart" aria-hidden="true"></i> <strong>차 트</strong></button>
    </div>
</div>

<!--  서비스별 차트 부분-->
<div class="panel panel-default kt-action-chart-panel displayNone">
  <div class="panel-body">
        <div class="kt-action-chart"></div>
    </div>
</div>

<!--  서비스별 테이블 부분-->
<div class="row">
    <div class="col-md-12 kt-action-table">

    </div>
</div>
