<!-- <h1><a href="#user">USER</a></h1>
<h1><a href="#menu">MENU</a></h1>
<h1><a href="#action">ACTION</a></h1> -->

<div style="background-color:#080808;position:relative;padding:30px 0;color:#C4c4FE;font-size:24px;text-align:left;">
    <div class="container">
        <h2 style="color:#fff">KT 멤버십 통계 서비스</h2>
        <p>방문자, 메뉴별, 서비스별로 다양한 통계 데이터와 차트</p>
    </div>
</div>

<div class="kt-dashboard-main" style="margin-top:30px;">

    <div class="container">
        <div class="panel panel-default kt-dashboard-user">
            <div class="panel-heading">
                <a href="#user"><i class="fa fa-users" aria-hidden="true"></i> 방문자별 (일주일)</a>
                <div style="float:right;">
                    <a class="btn btn-default btn-xs" href="#user"><i class="fa fa-plus"></i> 더보기</a>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 user-table">
                    </div>
                    <div class="col-md-6">
                        <div class="user-chart">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default kt-dashboard-menu">
            <div class="panel-heading">
                <div class="form-inline" style="overflow:hidden">
                    <a class="panel-title" href="#menu"><i class="fa fa-th-list" aria-hidden="true"></i> 메뉴별 (일주일)</a>
                    <div style="float:right;margin-top:5px;">
                        <a class="btn btn-default btn-xs" href="#menu"><i class="fa fa-plus"></i> 더보기</a>
                    </div>
                </div>

            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 menu-table">
                    </div>
                    <div class="col-md-6">
                        <div class="menu-chart"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default kt-dashboard-action">
            <div class="panel-heading">
                <div class="form-inline" style="overflow:hidden">
                    <a class="panel-title" href="#action"><i class="fa fa-check-circle" aria-hidden="true"></i> 서비스별 (일주일)</a>
                    <div style="float:right;margin-top:5px;">
                        <a class="btn btn-default btn-xs" href="#action"><i class="fa fa-plus"></i> 더보기</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 action-table">
                    </div>
                    <div class="col-md-6">
                        <div class="action-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
