<ul class="list-group">
    <li class="list-group-item" style="padding-left:30px"><a href="#user" style="color:#000;">
        <i class="fa fa-users" aria-hidden="true" style="margin-right:10px;"></i> User</a>
    </li>
    <li class="list-group-item" style="padding-left:30px"><a href="#menu" style="color:#000;">
        <i class="fa fa-th-list" aria-hidden="true" style="margin-right:10px;"></i> Menu</a>
    </li>
    <li class="list-group-item" style="padding-left:30px"><a href="#action" style="color:#000;">
        <i class="fa fa-check-circle" aria-hidden="true" style="margin-right:10px;"></i> Action</a>
    </li>
</ul>
