<ul class="list-group">
    <li class="list-group-item" style="padding-left:30px"><a href="#user" style="color:#000;"><i class="fa fa-chevron-right" aria-hidden="true"></i> User</a></li>
    <li class="list-group-item" style="padding-left:30px"><a href="#menu" style="color:#000;"><i class="fa fa-chevron-right" aria-hidden="true"></i> Menu</a></li>
    <li class="list-group-item" style="padding-left:30px"><a href="#action" style="color:#000;"><i class="fa fa-chevron-right" aria-hidden="true"></i> Action</a></li>
</ul>
