<div style="background-color:#ffffff;margin-bottom:5px;padding:20px 0;text-align:center">
    <h3>KT 멤버십 통계</h3>
</div>
<div style="background-color:#ffffff;padding:20px">
  <div style="text-align:center">
    <p>로그인이 필요한 서비스 입니다.</p>
    <p>아이디와 비밀번호를 입력하여 주십시오</p>
  </div>
    <form class="form-horizontal">
        <div class="form-group _login_bidder">
            <label for="inputEmail3" class="col-md-3 control-label"><i class="fa fa-user"></i> ID :</label>
            <div class="col-md-9">
                <input type="text" id="kt_login_insert_id" class="form-control" placeholder="아이디">
            </div>
        </div>

        <div class="form-group _login_password">
            <label for="inputPassword3" class="col-sm-3 control-label"><i class="fa fa-lock"></i> 비밀번호 :</label>
            <div class="col-sm-9">
                <input type="password" id="kt_login_pwd" class="form-control" placeholder="비밀번호">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button id="kt_login_submit" class="btn btn-primary btn-block btn-flat _login_btn"><i class="fa fa-sign-in"></i><strong> 로그인</strong></button>
            </div>
        </div>
    </form>
    <footer class="main-footer">

    </footer>
</div>

<!-- <div style="background-color:#ffffff;margin-top:5px;padding:20px 0;text-align:center">
    <div style="text-align:center">
        <div><strong>등록신청은 hellopix@sqisoft.com</div>
    </div>
</div> -->
