<div class="kt-login-header">
    <img src="dist/img/kt_logo.png"><h3>멤버십 통계</h3>
</div>
<div class="kt-login-body">
  <div class="text-center">
    <p><strong>로그인이 필요한 서비스 입니다.</strong></p>
    <p><strong>아이디와 비밀번호를 입력하여 주십시오</strong></p>
  </div>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label">
                <i class="fa fa-user"></i> ID :
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control kt-login-id" placeholder="아이디">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">
                <i class="fa fa-lock"></i> 비밀번호 :
            </label>
            <div class="col-sm-9">
                <input type="password" class="form-control kt-login-pwd" placeholder="비밀번호">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary btn-block btn-flat kt-login-submit"><i class="fa fa-sign-in"></i><strong> 로그인</strong></button>
            </div>
        </div>
    </form>
</div>
