<!-- 메뉴별 검색 부분-->
<div class="panel panel-default">
    <div class="panel-body kt_menu_option">
        <div class="row kt-search-period">
             <label class="col-md-2"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> 검색 기간 : </label>
            <div class="col-md-10 form-inline">
                <!--  DateTimePicker import Area -->
                <button class="btn btn-primary kt_menu_serarch_btn"><i class="fa fa-search" aria-hidden="true"></i> <strong>검 색</strong></button>
            </div>
        </div>

    </div>
</div>

<div class="row _m10_b">
    <div class="col-md-6 form-inline kt_menu_control">
        <!-- 메뉴별 검색 옵션 템플릿 selectbox 삽입되는 곳-->
    </div>
    <div class="col-md-6 form-inline text-right">
        <button class="btn btn-warning kt_menu_csv_btn _mr_5">기간내 전체 CSV 파일 내보내기</button>
        <button class="btn btn-success kt_menu_table_btn" data-type="success"><i class="fa fa-table" aria-hidden="true"></i> <strong>테이블</strong></button>
        <button class="btn btn-default kt_menu_chart_btn" data-type="default"><i class="fa fa-line-chart" aria-hidden="true"></i> <strong>차 트</strong></button>
    </div>
</div>

<!--  메뉴별 차트 부분-->
<div class="panel panel-default kt_menu_chart displayNone">
  <div class="panel-body">
        <div class="menu_chart"></div>
    </div>
</div>

<div class="row kt_menu_table">
    <div class="col-md-12 kt_menu_list">
        <!-- 메뉴별 테이블 템플릿 html 삽입되는 곳-->
    </div>
</div>
