<div class="row kt_menu_option">
    <div class="col-md-12 form-inline">
        <!--  DateTimePicker import Area -->
        <button class="btn btn-default kt_menu_serarch_btn">검색</button>
    </div>

    <div class="col-md-12 form-inline">
        <select class="form-control kt_action_name_option">
          <option value="111">2222</option>
        </select>
        <select class="form-control kt_action_name_option">
          <option value="111">2222</option>
        </select>

        <button class="btn btn-default kt_menu_csv_btn">기간내 전체 CSV 파일 내보내기</button>
    </div>
    <!-- <div class="col-md-4">
        <div class='input-group date' id='datetimepicker10' style="float:left">
            <input type='text' class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar">
                </span>
            </span>
        </div>
    </div>
    <div class="col-md-4">
    </div> -->
</div>
<div class="row">
    <div class="col-md-12">
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>date</th>
                    <th>ios</th>
                    <th>android</th>
                    <th>합계</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2016-12-01</td>
                    <td>61</td>
                    <td>90</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>2016-12-01</td>
                    <td>100</td>
                    <td>102</td>
                    <td>100</t
                </tr>
                <tr>
                    <td>2016-12-01</td>
                    <td>100</td>
                    <td>102</td>
                    <td>102</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
