<div class="modal-content">
    <div class="modal-header">
        <div class="text-center">
            <div class="col-md-12">
                <p style="font-size:18px;margin:0px;">
                    <i class="fa fa-exclamation-triangle"></i><strong> 알림</strong>
                </p>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row text-center">
            <div class="col-md-12">
                <pre style="margin:0;padding:0;font-size:14px;background-color:#fff;border:none"><strong id="message"></strong></pre>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-center">
            <button class="btn btn-success" id="confirm"><i class="fa fa-check"></i><strong> 확인</strong></button>
        </div>
    </div>
</div>
