<div class="modal-content">
    <div class="modal-header">
        <div class="text-center">
            <div class="r2_loading_img">
                <img src="dist/img/loading.gif" style="width:20%"></img>
            </div>
        </div>
    </div>
    <div class="modal-body">

        <div class="row text-center">
            <!-- <div class="r2_loading_img">
                <img src="img/loading.gif" style="width:20%"></img>
            </div> -->
            <div class="col-md-12">
                <pre style="margin:0;padding:0;font-size:14px;background-color:#fff;border:none"><strong id="message"></strong></pre>
            </div>
        </div>
    </div>
</div>
