<div>

    <script class="dashboard-tpl" type="text/x-handlebars-template">
    {{#dashboardList}}
    <div class="panel panel-darkred kt-dashboard-{{hash-name}}">
        <div class="panel-heading">
            <div class="form-inline" style="overflow:hidden;">
                <div class="panel-title">
                    <a class="small" href="#{{hash-name}}"><i class="fa {{fa-icon-name}}" aria-hidden="true"></i> {{panel-title}}</a>
                </div>
                <div class="kt-dashboard-more">
                    <a class="btn btn-default btn-xs" href="#{{hash-name}}"><strong><i class="fa fa-plus"></i> 더보기</strong></a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 kt-dashboard-{{hash-name}}-table">
                    <!--  dashboard panel의 table 템플릿이 들어가는 곳-->
                </div>
                <div class="col-md-6">
                    <div class="kt-dashboard-{{hash-name}}-chart">
                        <!--  dashboard panel의 차트 들어가는 곳-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/dashboardList}}
    </script>

    <!-- 방문자별 테이블 일별 템플릿-->
    <script class="day-user-list-tpl" type="text/x-handlebars-template">
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>날짜</th>
                <th>평균체류간</th>
                <th>고유방문자</th>
                <th>페이지뷰</th>
                <th>방문자</th>
            </tr>
        </thead>
        <tbody class="day_user_list">
            {{#userList}}
            <tr>
                <td class="kt-date">{{date}}</td>
                <td class="kt-date">{{capitalize this.avgVisitTime}}</td>
                <td class="kt-count-comma">{{numberComma uniqVisits}}</td>
                <td class="kt-count-comma">{{numberComma pageViews}}</td>
                <td class="kt-count-comma">{{numberComma visits}}</td>
            </tr>
            {{/userList}}
        </tbody>
    </table>
    </script>

    <!-- 방문자별 테이블 월별 템플릿-->
    <script class="month_user_list_tpl" type="text/x-handlebars-template">
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>월</th>
                <th>고유방문자</th>
                <th>페이지뷰</th>
                <th>방문자</th>
            </tr>
        </thead>
        <tbody class="day_user_list">
            {{#userList}}
            <tr>
                <td class="kt-date">{{month}}</td>
                <td class="kt-count-comma">{{numberComma uniqVisits}}</td>
                <td class="kt-count-comma">{{numberComma pageViews}}</td>
                <td class="kt-count-comma">{{numberComma visits}}</td>
            </tr>
            {{/userList}}
        </tbody>
    </table>
    </script>

    <!-- 방문자별 테이블 시간별 템플릿-->
    <script class="hour_user_list_tpl" type="text/x-handlebars-template">
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>시간</th>
                <th>평균고유방문자</th>
                <th>평균페이지뷰</th>
                <th>평균방문자</th>
            </tr>
        </thead>
        <tbody class="day_user_list">
            {{#userList}}
            <tr>
                <td class="kt-date">{{hour}}</td>
                <td class="kt-count-comma">{{numberComma avgUniqVisits}}</td>
                <td class="kt-count-comma">{{numberComma avgPagesViews}}</td>
                <td class="kt-count-comma">{{numberComma avgVisits}}</td>
            </tr>
            {{/userList}}
        </tbody>
    </table>
    </script>

    <!-- 메뉴별 테이블 템플릿-->
    <script class="kt-menu-table-tpl" type="text/x-handlebars-template">
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Date</th>
                <th>IOS</th>
                <th>Android</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {{#list.dataList}}
            <tr>
                <td class="kt-date">{{date}}</td>
                <td class="kt-count-comma">{{numberComma ios}}</td>
                <td class="kt-count-comma">{{numberComma android}}</td>
                <td class="kt-count-comma">{{numberComma total}}</td>
            </tr>
            {{/list.dataList}}
        </tbody>
    </table>
    </script>

    <!-- 서비스별 테이블 템플릿-->
    <script class="kt-action-table-tpl" type="text/x-handlebars-template">
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Date</th>
                <th>Android</th>
                <th>IOS</th>
            </tr>
        </thead>
        <tbody>
            {{#actionList}}
            <tr>
                <td class="kt-date">{{date}}</td>
                <td class="kt-count-comma">{{numberComma android}}</td>
                <td class="kt-count-comma">{{numberComma ios}}</td>
            </tr>
            {{/actionList}}
        </tbody>
    </table>
    </script>

    <!-- 셀렉트 박스-->
    <script class="kt-selectbox-tpl" type="text/x-handlebars-template">
    <select class="form-control {{className}}">
        {{#list}}
        <option value="{{name}}">{{name}}</option>
        {{/list}}
    </select>
    </script>

    <!-- 켈린더 템플릿-->
    <script class="kt-dateTimePicker-tpl" type="text/x-handlebars-template">
    <div class='input-group date {{dateTimePickerId}}'>
       <input type='text' class="form-control" style="background-color:#fff"/>
       <span class="input-group-addon">
           <span class="glyphicon glyphicon-calendar"></span>
       </span>
    </div>
    </script>

</div>
