<div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">KT 멤버십 통계</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="#user">방문자별통계</a></li>
            <li><a href="#menu">메뉴별통계</a></li>
            <li><a href="#action">서비스별통계</a></li>
          </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="kt_info_username" style="margin-right:20px;">
            <span style="color:#fff;padding-top:15px;padding-bottom:15px;position:relative;display:block;">
                <i class="fa fa-user"></i>
                <strong>user2</strong>
            </span>
        </li>
        <li class="kt_info_logout_btn">
            <a href="#"><i class="fa fa-sign-out text-danger"></i><strong>로그아웃</strong></a>
        </li>
      </ul>
    </div>
</div>
