<div class="panel panel-default">
  <div class="panel-body kt_user_option">
      <div class="row" style="padding-bottom:10px">
          <label class="col-md-1" style="text-align:right"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> 검색 구분 : </label>
          <div class="col-md-11 form-inline">
              <label class="radio-inline">
                  <input type="radio" name="dateRadioOption" value="daily" checked> 일별
              </label>
              <label class="radio-inline">
                  <input type="radio" name="dateRadioOption" value="monthly"> 월별
              </label>
              <label class="radio-inline">
                  <input type="radio" name="dateRadioOption" value="hourly"> 시간별
              </label>

              <!-- <div class='input-group date' id='datetimepicker10'>
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div> -->


              <!-- <div class='input-group date' id='datetimepicker2'>
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div> -->



          </div>


          <!-- <div class="col-md-4">
              <div class='input-group date' id='datetimepicker10' style="float:left">
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar">
                      </span>
                  </span>
              </div>
          </div>
          <div class="col-md-4">
          </div> -->
      </div>
      <div class="row">
          <label class="col-md-1" style="text-align:right;padding-top:7px;"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> 검색 기간 : </label>
          <div class="col-md-11 form-inline">
              <button class="btn btn-primary kt_user_serarch_btn"><i class="fa fa-search" aria-hidden="true"></i> <strong>검 색</strong></button>
          </div>
      </div>
  </div>
</div>

<div class="row" style="margin-bottom:10px;">
    <div class="col-md-12" style="text-align:right">
         <button class="btn btn-success"><i class="fa fa-table" aria-hidden="true"></i> <strong>테이블</strong></button>
         <button class="btn btn-info"><i class="fa fa-line-chart" aria-hidden="true"></i> <strong>차 트</strong></button>
    </div>
</div>


<!-- <div class="row">
    <div class="col-md-12">
        <div id="chart_2">
        </div>
    </div>
</div> -->
<div class="row">
    <div class="col-md-12 kt_user_list">

        <script class="day_user_list_tpl" type="text/x-handlebars-template">
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>avgVisitTime</th>
                    <th>date</th>
                    <th>uniqVisits</th>
                    <th>user</th>
                    <th>visits</th>
                </tr>
            </thead>
            <tbody class="day_user_list">
                    {{#userList}}
                    <tr>
                        <td>{{avgVisitTime}}</td>
                        <td>{{date}}</td>
                        <td>{{uniqVisits}}</td>
                        <td>{{user}}</td>
                        <td>{{visits}}</td>
                    </tr>
                    {{/userList}}
            </tbody>
        </table>
        </script>

        <script class="month_user_list_tpl" type="text/x-handlebars-template">
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>uniqVisits</th>
                    <th>users</th>
                    <th>visits</th>
                    <th>month</th>
                </tr>
            </thead>
            <tbody class="day_user_list">
                    {{#userList}}
                    <tr>
                        <td>{{uniqVisits}}</td>
                        <td>{{users}}</td>
                        <td>{{visits}}</td>
                        <td>{{month}}</td>
                    </tr>
                    {{/userList}}
            </tbody>
        </table>
        </script>

        <script class="hour_user_list_tpl" type="text/x-handlebars-template">
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>avgUniqVisits</th>
                    <th>avgPagesViews</th>
                    <th>avgVisits</th>
                    <th>hour</th>
                </tr>
            </thead>
            <tbody class="day_user_list">
                    {{#userList}}
                    <tr>
                        <td>{{avgUniqVisits}}</td>
                        <td>{{avgPagesViews}}</td>
                        <td>{{avgVisits}}</td>
                        <td>{{hour}}</td>
                    </tr>
                    {{/userList}}
            </tbody>
        </table>
        </script>

    </div>
</div>
