<div class="row kt_user_option">
    <div class="col-md-12 form-inline _login_bidder">
        <label class="radio-inline">
            <input type="radio" name="dateRadioOption" value="daily"> 일별
        </label>
        <label class="radio-inline">
            <input type="radio" name="dateRadioOption" value="monthly" checked> 월별
        </label>
        <label class="radio-inline">
            <input type="radio" name="dateRadioOption" value="hourly"> 시간별
        </label>

        <div class='input-group date' id='datetimepicker1'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>

        <div class='input-group date' id='datetimepicker2'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>

        <button class="btn btn-default kt_user_serarch_btn">검색</button>

    </div>
    <!-- <div class="col-md-4">
        <div class='input-group date' id='datetimepicker10' style="float:left">
            <input type='text' class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar">
                </span>
            </span>
        </div>
    </div>
    <div class="col-md-4">
    </div> -->
</div>
<div class="row">
    <div class="col-md-12 kt_user_list">

        <script class="day_user_list_tpl" type="text/x-handlebars-template">
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>avgVisitTime</th>
                    <th>date</th>
                    <th>uniqVisits</th>
                    <th>user</th>
                    <th>visits</th>
                </tr>
            </thead>
            <tbody class="day_user_list">
                    {{#userList}}
                    <tr>
                        <td>{{avgVisitTime}}</td>
                        <td>{{date}}</td>
                        <td>{{uniqVisits}}</td>
                        <td>{{user}}</td>
                        <td>{{visits}}</td>
                    </tr>
                    {{/userList}}
            </tbody>
        </table>
        </script>

        <script class="month_user_list_tpl" type="text/x-handlebars-template">
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>uniqVisits</th>
                    <th>users</th>
                    <th>visits</th>
                    <th>month</th>
                </tr>
            </thead>
            <tbody class="day_user_list">
                    {{#userList}}
                    <tr>
                        <td>{{uniqVisits}}</td>
                        <td>{{users}}</td>
                        <td>{{visits}}</td>
                        <td>{{month}}</td>
                    </tr>
                    {{/userList}}
            </tbody>
        </table>
        </script>

        <script class="hour_user_list_tpl" type="text/x-handlebars-template">
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>avgUniqVisits</th>
                    <th>avgUsers</th>
                    <th>avgVisits</th>
                    <th>hour</th>
                </tr>
            </thead>
            <tbody class="day_user_list">
                    {{#userList}}
                    <tr>
                        <td>{{avgUniqVisits}}</td>
                        <td>{{avgUsers}}</td>
                        <td>{{avgVisits}}</td>
                        <td>{{hour}}</td>
                    </tr>
                    {{/userList}}
            </tbody>
        </table>
        </script>

    </div>
</div>
