/*
 * kt-membership-statistics-service 1.0.0
 * 방문자, 메뉴, 서비스 별로 다양한 통계 데이터와 차트
 * https://cms.membership.kt.com
 * Copyright ©2011 - 2017 KT corp. All rights reserved.
*/

.displayNone {
    display:none!important
}

/**
 * text-align style sheet
 */
._ta_l {text-align: left;text-align: -webkit-left;}
._ta_c {text-align: center;text-align: -webkit-center;}
._ta_r {text-align: right;text-align: -webkit-right;}

._m0 {margin:0px;}

._m5_t {margin-top:5px;}
._m5_r {margin-right:5px;}
._m5_b {margin-bottom:5px;}

._m10_t { margin-top:10px;}
._m10_b { margin-bottom:10px;}
._m10_r { margin-right:10px;}

._m20_t { margin-top:20px;}
._m20_b { margin-bottom:20px;}
._m20_r { margin-right:20px;}
._m20_l { margin-left:20px;}

._m30_t { margin-top:30px;}

._p0{padding : 0px;}

._p5{padding : 5px;}
._p5_t{	padding-top: 5px;}
._p5_b{	padding-bottom: 5px;}
._p5_l{	padding-left: 5px;}
._p5_r{	padding-right: 5px;}

._p10 {padding:10px;}
._p10_t{padding-top: 10px;}
._p10_b{padding-bottom: 10px;}

._p15 {padding:15px;}

._p20 {padding:20px;}
._p20_l{padding-left: 20px;}

._p30_t{padding-top: 30px;}

._p40_l{padding-left: 40px;}
._p40_r{padding-right: 40px;}

._p-0 { padding : 0px;}
._p-l-0 { padding-left: 0px;}
._p-r-0 { padding-right: 0px;}
._p-t-0 { padding-top: 0px;}
._p-b-0 { padding-bottom: 0px;}
._p7_t{	padding-top: 7px;}

.text-gray {
     color: #C1C1C1;
}
.text-gray {
     color: #C1C1C1;
}
.text-darkslategrey {
     color: #2F4F4F;
}
.text-white {
     color: #fff;
}

.panel-darkred {
    border-color: #7c0101;
}
.panel-darkred > .panel-heading {
    color: #ffffff;
    background-color: #a10000;
    border-color: #7c0101;
}
.panel-darkred > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #7c0101;
}
.panel-darkred > .panel-heading .badge {
    color: #a10000;
    background-color: #ffffff;
}
.panel-darkred > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #7c0101;
}


.r2-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;

    overflow-x: hidden;
    overflow-y: auto;
    overflow: hidden;
}

.r2-dialog-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: .5;
}

.r2-dialog-main {
    position: relative;
    /*width: 600px;*/
    margin: 30px auto;
}

.r2-loading {
    width:400px;
}

.r2-loading-title {
    text-align:center;
    color : #fff;
    font-size : 14px;
}
