.kt-dashboard > .kt-dashboard-jumbotron {
    background-color:#080808;
    position:relative;
    padding:30px 0;
    color:#C4c4FE;
    font-size:24px;
    text-align:left;
}

.kt-dashboard > .kt-dashboard-main {
    margin-top:30px;
}

.kt-dashboard .panel-darkred > .panel-heading .kt_area_name_option,
.kt-dashboard .panel-darkred > .panel-heading .kt_menu_name_option,
.kt-dashboard .panel-darkred > .panel-heading .kt_action_option{
    height:auto;
    padding:1px 0px;
}

.kt-dashboard > .kt-dashboard-main .panel-title {
    display: inline-block;
    margin-right:10px;
}

.kt-dashboard > .kt-dashboard-main .panel-darkred > .panel-heading .panel-title .small{
    font-weight:bold;
}

.kt-dashboard > .kt-dashboard-main .kt-dashboard-more {
    display: inline-block;float:right;
}
