/**
 * login Style sheet
 */
.kt-login {
    max-width: 570px;
    margin: 10% auto;
}
.kt-login > .kt-login-body {
    background-color:#ffffff;
    padding:20px;
    border-radius: 0px 0px 10px 10px;
}
.kt-login > .kt-login-header {
    background-color:#ffffff;
    margin-bottom:5px;
    padding:20px 0;
    text-align:center;
    border-radius:10px 10px 0px 0px;
}
