/*
 * kt-membership-statistics-service 1.0.0
 * 방문자, 메뉴, 서비스 별로 다양한 통계 데이터와 차트
 * https://cms.membership.kt.com
 * Copyright ©2011 - 2017 KT corp. All rights reserved.
*/
body {
    padding-top: 50px;
}

.kt-search-period > label {
    text-align:right;
    padding-top:7px;
}

.kt-user,.kt-menu,.kt-action {
    padding: 20px;
}
@media (min-width: 768px) {
    .kt-user,.kt-menu,.kt-action {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.table th {
    text-align:center;
}
.table td.kt-count-comma {
    text-align:right;
}
.table td.kt-date {
    text-align:center;
}


.kt-top-menu .navbar-brand img{
    filter: brightness(0) invert(1);
    width:14%;
}

.kt-top-menu .navbar-brand{
    color:#fff!important
}

/**
 * login Style sheet
 */
.kt-login {
    max-width: 570px;
    margin: 10% auto;
}
.kt-login > .kt-login-body {
    background-color:#ffffff;
    padding:20px;
    border-radius: 0px 0px 10px 10px;
}
.kt-login > .kt-login-header {
    background-color:#ffffff;
    margin-bottom:5px;
    padding:20px 0;
    text-align:center;
    border-radius:10px 10px 0px 0px;
}

/**
 * dashboard Style
 */
.kt-dashboard > .kt-dashboard-jumbotron {
    background-color:#080808;
    position:relative;
    padding:30px 0;
    color:#C4c4FE;
    font-size:24px;
    text-align:left;
}
.kt-dashboard > .kt-dashboard-main {
    margin-top:30px;
}
.kt-dashboard .panel-darkred > .panel-heading .kt-area-name-option,
.kt-dashboard .panel-darkred > .panel-heading .kt-menu-name-option,
.kt-dashboard .panel-darkred > .panel-heading .kt-action-option{
    height:auto;
    padding:1px 0px;
}
.kt-dashboard > .kt-dashboard-main .panel-title {
    display: inline-block;
    margin-right:10px;
}
.kt-dashboard > .kt-dashboard-main .panel-darkred > .panel-heading .panel-title .small{
    font-weight:bold;
}
.kt-dashboard > .kt-dashboard-main .kt-dashboard-more {
    display: inline-block;float:right;
}
@media (min-width: 992px){
    .kt-dashboard-user .user-table,
    .kt-dashboard-menu .menu-table,
    .kt-dashboard-action .action-table {
        border-right: 1px dashed #710000;
    }
}

/**
 * 방문자 Style
 */
.kt-user .kt-user-option > div:first-child{
    margin-top:7px;
    margin-bottom:12px;
}
